/token.txt
/venv_nir
/outputs*
/valutare_cancellare
/__init__.py
/*.ipynb
/VRAI.zip
/__pycache__
/VRAI
/VRAI2
/explainability
/features
/models
/preprocessing
/utils
/VRAI
/VRAI2

/src/token.txt
/src/venv_nir
/src/outputs_*/
/src/trained_*/
/src/valutare_cancellare
/src/create_curves.py
/src/data_inspection.py
/src/test_model.py
/src/__pycache__