samples_temp.json
output_std_PEC_unico.py
merging_table_deep_nir.py
main_train_svm_new.py
main_train_xgb_new.py
main_robust_temp.ipynb

/outputs_/
/outputs/svm/trained_models/
/outputs/xgb/trained_models/

/utils/__pycache__

__pycache__